/ConsoleApp_Redis/ConsoleApp_Redis/bin/Debug
/ConsoleApp_Redis/.vs/ConsoleApp_Redis/v14/*.suo
/ConsoleApp_Redis/*.user
/ConsoleApp_Redis/ConsoleApp_Redis/obj/Debug
/.vs/DotNet.Mix/v14/*.suo
/ConsoleApp_Redis/.localhistory/ConsoleApp_Redis
/ConsoleApp_Redis/.vs/DotNet.Mix/v14/*.suo
/ConsoleApp_Redis/*.suo
/ConsoleApp_Redis/packages/Newtonsoft.Json.7.0.1
/ConsoleApp_Redis/packages/StackExchange.Redis.1.0.481
/*.user
/XK.Common/bin/Debug
/XK.Common/bin/Release
/XK.Common/obj/Debug
/XK.Common/obj/Release
/XK.DB/bin/Debug
/XK.DB/obj/Debug
/XK.Redis/bin/Debug
/XK.Redis/obj/Debug
/packages/Dapper-Async.1.03
/packages/Newtonsoft.Json.7.0.1
/packages/StackExchange.Redis.1.0.481/lib/net40
/packages/StackExchange.Redis.1.0.481
/packages/StackExchange.Redis.StrongName.1.0.481
/packages/MySql.Data.6.9.7
/FreedomDB.Bridge/*.user
/FreedomDB.Bridge/bin/Debug
/FreedomDB.Bridge/obj/Debug
/FreedomDB.Helper/bin/Debug
/FreedomDB.Helper/obj/Debug
/MyTestShop.Bll/bin/Debug
/MyTestShop.Bll/obj/Debug
/MyTestShop.Dal/bin/Debug
/MyTestShop.Dal/obj/Debug
/MyTestShop.IDal/bin/Debug
/MyTestShop.IDal/obj/Debug
/MyTestShop.Model/bin/Debug
/MyTestShop.Model/obj/Debug
/packages/EntityFramework.6.1.3
