<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="FileServer" value="http://localhost:21525/recieve.aspx"/>
    <add key="apisign" value="api"/>
    <!--搜索配置-->
    <add key="MainDictFile" value="D:\GITProjects\DotNet.Mix\XK.Web\bin\Resources\dict.txt" />
    <add key="ProbTransFile" value="D:\GITProjects\DotNet.Mix\XK.Web\bin\Resources\prob_trans.json" />
    <add key="ProbEmitFile" value="D:\GITProjects\DotNet.Mix\XK.Web\bin\Resources\prob_emit.json" />

    <add key="PosProbStartFile" value="D:\GITProjects\DotNet.Mix\XK.Web\bin\Resources\pos_prob_start.json" />
    <add key="PosProbTransFile" value="D:\GITProjects\DotNet.Mix\XK.Web\bin\Resources\pos_prob_trans.json" />
    <add key="PosProbEmitFile" value="D:\GITProjects\DotNet.Mix\XK.Web\bin\Resources\pos_prob_emit.json" />
    <add key="CharStateTabFile" value="D:\GITProjects\DotNet.Mix\XK.Web\bin\Resources\char_state_tab.json" />

    <add key="StopWordsFile" value="D:\GITProjects\DotNet.Mix\XK.Web\bin\Resources\stopwords.txt" />
    <add key="IdfFile" value="D:\GITProjects\DotNet.Mix\XK.Web\bin\Resources\idf.txt" />
  </appSettings> 
  <connectionStrings>
    <add name="DefaultConn" providerName="System.Data.SqlClient" connectionString="server=mssql1.gear.host;database=gearsql1;uid=gearsql1;pwd=!@#QWE;" />
  </connectionStrings>
  <system.web> 
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--最大接收数据20MB-->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="20480" executionTimeout="3600"/>
    <!-- 用Visual Studio调试的话，打开下面注释 -->
    <!--<httpModules>
      <add name="api" type="XK.DataApi.ApiModule"/>
    </httpModules>-->
    <authentication mode="Forms">
      <forms name="dotnet_mix" loginUrl="/pages/login.aspx" defaultUrl="/pages/index.aspx" enableCrossAppRedirects="true"/>
    </authentication>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
       <!--必须为IIS集成管道 否则module无效-->
      <add name="api" type="XK.DataProcess.ApiModule" />
    </modules>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>